@import 'node_modules/react-image-gallery/styles/css/image-gallery-no-icon.css';

.form-horizontal .control-label {
  text-align: left !important;
}

hr {
  border-top: 1px solid #e5e5e5 !important;
}

.modal-footer {
  text-align: left !important;
}

.slick-prev {
  margin-left: 1rem;
}

.slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  color: #777 !important;
}

.slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #777 !important;
}


/*Added by Hitesh*/
.navbar-default{
  background-color: #fff;
  border-radius: 0;
}

.wrapper{
  background-color: #f9f9f9;
}

.category-list{
  background: #fff;
  padding: 10px;
  padding-left:30px;
  padding-right:30px;
  box-shadow:none;
  -webkit-box-shadow:none;
  border: none;
  border-top: 1px solid rgba(227, 227, 227, 0.5);
  margin-bottom: 5px;
}

.post-by-day .panel-heading{
  background-color: #fff;
}

.single-post-detail,
.comment-item{
  background-color: #fff!important;
}
.collectionName{
  background-color:#505d6c;
  padding:30px;
}
.collectionName > p {
  color:white;
  font-weight: bold;
}


.user-profile{
  padding: 60px 60px 86px;
  background-color: #77aaff;
  color:white;
}
.profilePicture{
  float: left;
  padding-right: 20px
}

.left-side{
  padding:5px;
}
.left-side p a {
  text-decoration:none;
  color:gray;
  padding: 5px;
  cursor: pointer;
}
.Active{
  color: black !important;
  background-color: #e3e3e3;
}

.collectionDiv{
  height:180px;
  background-color: lightblue;
  padding: 5px;
  text-decoration:none;
  font-weight: 500;
  cursor: pointer;
  background-size: 300px 230px;
  background-repeat: no-repeat;
  position: relative;
}

.collectionDiv .link {
  color:#fff;
  position: absolute;
  right: 9px;
}

.centerDiv{
  background-color: white;
}
.collectionNameMiddle{
  display: table;
  width:100%;
  height: 100%
}
.collectionNameMiddle h4 {
  display: table-cell;
  vertical-align: middle;
}
.collectionNameMiddle h4 a {
  color: #fff;
}
.adminCollectionDiv {
  width: 220px;
  height: 230px;
  color: white;
  background-size: 220px 230px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.adminCollectionDiv .panel-body{
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.collection-modal {
  height: 500px !important;
}
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  height: auto;
  /*min-height: 70px;*/
}
.shortingDropdownList{
  padding-bottom: 10px;
}

.shortingDropdownList a{
  text-decoration: none;
  color: #969696;
  font-size: 10px;
}
.shortingDropdownList .active {
  color:#000;
}
.Images{
  text-align: center;
  text-align: -webkit-center;
}
.image-gallery-image img{
  height:300px;
  width:auto;
}
.loadMore{
  text-decoration: none !important;
  cursor: pointer;
}
.image-gallery-thumbnail img{
  height: 91px;
}
.CategoryScrollView{
    text-decoration: none;
    color: #777;
    font-size: 15px;
}

.CategoryScrollView:hover{
  text-decoration:none;
  color: #000;
  cursor: pointer;
}

.CategoryActive{
    color: #000;
}
